@font-face {
  font-family: "Serpantin";
  src: url("./font/serpantin.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: url("./font/jost-400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: url("./font/jost-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Jost";
  src: url("./font/jost-600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Jost";
  src: url("./font/jost-700.ttf");
  font-weight: 700;
}

body {
  background-color: #19191a;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body, input, textarea, button {
  font-family: Jost, sans-serif
}

html {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 5em;
  font-family: Serpantin;
}

.loader {
  animation: spin 3s linear infinite;
  background: #fff;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.loader:before {
  background: #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.loader:after {
  background: #19191a;
  border-radius: 50%;
  box-shadow: 0em -2.60em #19191a,
  2.25em -4.02em #19191a,
  2.25em -1.25em #19191a,
  4.60em 0em #19191a,
  2.25em 1.25em #19191a,
  2.25em 4.02em #19191a,
  0em 2.60em #19191a,
  -2.25em 4.02em #19191a,
  -2.25em 1.25em #19191a,
  -4.60em 0em #19191a,
  -2.25em -1.25em #19191a,
  -2.25em -4.02em #19191a;
  content: '';
  display: block;
  height: 2em;
  width: 2em;
}

.inner {
  animation: load 3s linear alternate infinite;
  border: solid 1px #fff;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader, .loader:before, .loader:after, .inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #19191a,
    2.25em 1.25em #19191a,
    0em 2.60em #19191a,
    -2.25em 1.25em #19191a,
    -2.25em -1.25em #19191a;
  }
  15% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #19191a,
    2.25em 1.25em #19191a,
    0em 2.60em #19191a,
    -2.25em 1.25em #19191a,
    -2.25em -1.25em #fff;
  }
  30% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #19191a,
    2.25em 1.25em #19191a,
    0em 2.60em #19191a,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
  45% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #19191a,
    2.25em 1.25em #19191a,
    0em 2.60em #fff,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
  60% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #19191a,
    2.25em 1.25em #fff,
    0em 2.60em #fff,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
  75% {
    box-shadow: 0em -2.60em #19191a,
    2.25em -1.25em #fff,
    2.25em 1.25em #fff,
    0em 2.60em #fff,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
  90% {
    box-shadow: 0em -2.60em #fff,
    2.25em -1.25em #fff,
    2.25em 1.25em #fff,
    0em 2.60em #fff,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
  100% {
    box-shadow: 0em -2.60em #fff,
    2.25em -1.25em #fff,
    2.25em 1.25em #fff,
    0em 2.60em #fff,
    -2.25em 1.25em #fff,
    -2.25em -1.25em #fff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-item {
  font-size: 15px;
  font-weight: 500;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

button {
  background-color: #cffc41;
  border: none;
  border-right: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 15px;
  &:hover {
      background-color: #fff;
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  input {
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 10px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #19191a;
    color: #fff;
    width: 200px;
    &:focus {
      border: 2px solid #fff;
      outline: none;
    }
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  img {
    width: 300px;
    height: 300px;
  }
}
.img-wrapper {
  width: 300px;
  height: 300px;
}
.user-role {
  font-family: Serpantin;
  font-size: 2rem;
}
.user-info {
  position: relative;
  user-select: none;
}
.user-info__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
}
.user-info__blur {
  filter: blur(20px);
}
.user-blur {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor:pointer;
  background-color: #19191a;
  top: 0;
  .user-info__blur {
    position: absolute;
  }
}
.admin-buttons {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 15px;
  }
}
.mafia-select {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 15px;
}
.user-select {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.select-animation {
  overflow: hidden;
  position: relative;
  &:before {
    content: '';
    width: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    height: 40px;
    animation: 3s barLoad linear forwards;
    left: 0;
  }
}

@keyframes barLoad {
  from {
    width: 0px;
  }
  to {
    width: 155px;
  }
}
.timer {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}
.don-check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  height: 200px;
  width: 340px;
  background-color: rgba(25, 25, 26, 0.8);
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  z-index: 100;
}
.night-result {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: -1;
  }
}
